@font-face {
  font-family: "Rumble Brave";
  src: url("../../assets/fonts/Untitled.woff2") format("woff2"), url("../../assets/fonts/Untitled.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*main container for page*/
.netflix {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
}
.netflix-flexbox {
  position: absolute;
}
.netflix-flexbox__logo {
  position: relative;
  width: 22.5rem;
  height: 32.5rem;
  overflow: hidden;
  transform: scale(0.5);
}
.netflix-flexbox__logo:after {
  content: "";
  position: absolute;
  width: 400%;
  height: 100%;
  background: linear-gradient(to right, transparent, #000, #000);
  z-index: 1;
  -webkit-animation: animate 9s linear forwards;
          animation: animate 9s linear forwards;
}

/*the spans create the red N in the intro*/
span {
  position: absolute;
  width: 7.5rem;
  height: 100%;
}

span:nth-child(1) {
  background: #b81d24;
  left: 0;
}

span:nth-child(2) {
  background: #e50914;
  left: 7.25rem;
  z-index: 1;
  transform: skewX(20deg);
  box-shadow: 0 0 2.5rem black;
}

span:nth-child(3) {
  background: #b81d24;
  right: 0.375rem;
}

/*the H tags are the subheaders*/
h1 {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Rumble Brave";
  font-weight: 700;
  font-size: 4rem;
  color: #F3F3F3;
  font-size: 6.875rem;
  top: 1rem;
  z-index: 1;
  letter-spacing: 0.625rem;
  padding-bottom: 2rem;
  overflow: hidden;
}
h1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(to right, transparent, #000, #000);
  z-index: 1;
  -webkit-animation: animate 6s linear forwards;
          animation: animate 6s linear forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

h3 {
  position: relative;
  margin: 0;
  padding: 0;
  bottom: 4rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #F3F3F3;
  font-size: 1.875rem;
  letter-spacing: 0.625rem;
  z-index: 1;
  overflow: hidden;
  /*keyframes fade in and out*/
}
h3:after {
  content: "";
  position: absolute;
  width: 400%;
  height: 100%;
  background: linear-gradient(to right, transparent, #000, #000);
  z-index: 1;
  -webkit-animation: animate 9s linear forwards;
          animation: animate 9s linear forwards;
}
@-webkit-keyframes animate {
  0% {
    right: 0%;
  }
  100% {
    right: -400%;
  }
  75% {
    right: -400%;
  }
  100% {
    right: 0;
  }
}
@keyframes animate {
  0% {
    right: 0%;
  }
  100% {
    right: -400%;
  }
  75% {
    right: -400%;
  }
  100% {
    right: 0;
  }
}

/*this is the stylings for the actual header*/
.netflix__header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 0 5rem 0 5rem;
  top: 1rem;
  border-bottom: #F3F3F3 0.5rem solid;
}
.netflix__header-logo {
  color: #e50914;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.625rem;
  padding-bottom: 1rem;
}
.netflix__header-text-one {
  color: #F3F3F3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.625rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-bottom: 1rem;
  -webkit-animation: fadein 10s forwards;
          animation: fadein 10s forwards;
}
.netflix__header-text-two {
  color: #F3F3F3;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-bottom: 1rem;
  -webkit-animation: fadein 10s forwards;
          animation: fadein 10s forwards;
  font-family: "Rumble Brave";
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.625rem;
}
.netflix__header-logo {
  position: relative;
  display: flex;
  top: 0.5rem;
  left: 0.5rem;
  max-height: 8rem;
  -webkit-animation: fadein 10s forwards;
          animation: fadein 10s forwards;
}

/*stylings for the form*/
.form {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  font-size: 1.875rem;
  letter-spacing: 0.625rem;
  padding-bottom: 1rem;
  height: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  color: #e50914;
  -webkit-animation: fadein 10s forwards;
          animation: fadein 10s forwards;
  /*Keyframes to fade in the header*/
}
.form__label {
  position: relative;
  text-align: center;
  padding: 0 2rem;
  bottom: 3rem;
}
.form__button {
  position: relative;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.5rem;
  background-color: #F3F3F3;
  color: #b81d24;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  font-family: "Rumble Brave";
  width: 60%;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #686868;
}
.form__genre {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  width: 80%;
  background-color: #F3F3F3;
  color: #000;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #686868;
}
.form__genre option {
  background-color: #F3F3F3;
  color: #000;
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #686868;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    z-index: 5;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    z-index: 5;
  }
}/*# sourceMappingURL=main.css.map */