@use '../partials/variables' as *;

@mixin tablet{
@media(min-width: $breakpoint-tablet){
    @content;
    }
}

@mixin desktop{
    @media(min-width: $breakpoint-desktop){
        @content;
    }
}

@mixin intro-animation-sytles-logo{
    content: '';
    position: absolute;
    width: 400%;
    height: 100%;
    background: linear-gradient(to right, transparent, #000, #000);
    z-index: 1;
    animation: animate 9s linear forwards;
}
