/*keyframes fade in and out*/
@keyframes animate{
    0%{right: 0%;}
    100%{right: -400%;}
    75%{right: -400%;}
    100%{right: 0;}
}

/*Keyframes to fade in the header*/
@keyframes fadein{
    0%{opacity: 0;}
    90%{opacity: 0%;}
    100%{opacity: 100%;z-index: 5;} 
}

@keyframes fadeout{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}